.champ-card {
    color: purple; 
}

.Introdução {
    margin-bottom: 20px;
}



.Photo{
    height: 500px;
    width: 100%;
    object-fit: cover;
    display: block;
} 


.page-title {
    text-align: center;
    margin-top: 20px;
    font-size: 32px;
    font-weight: bold;
}

