{% extends "base.html" %}

{% block title %}Campeões{% endblock %}
{% block page_title %}Campeões{% endblock %}

{% block content %}

<div class="card" style="width: 18rem;">
    <img src="{{ url_for('static', filename='img/Kayn.jpeg') }}"
         class="card-img-top" style="object-fit: cover; height: 200px;">
    <div class="card-body">
        <h5 class="Titulo">Kayn</h5>
        <p class="card-text">O ceifador das sombras</p>
        <a href="Kayn.html" class="btn btn-primary">Acessar</a>
    </div>
</div>

{% endblock %}
