{% extends "base.html" %}

{% block content %}

<div class="row">
{% for key, c in campeoes.items() %}
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="{{ url_for('static', filename=c.imagem) }}"
                 class="card-img-top"
                 style="object-fit: cover; height: 200px;">
            <div class="card-body">
                <h5>{{ c.nome }}</h5>
                <p>{{ c.titulo }}</p>
                <a href="{{ url_for('pagina_campeao', nome=key) }}"
                   class="btn btn-primary">
                   Ver Campeão
                </a>
            </div>
        </div>
    </div>
{% endfor %}
</div>

{% endblock %}
