<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" 
    crossorigin="anonymous"></script>
    <title>Guia Para LeagueOfLegends</title>
</head>
<body>
    <h1 class = "Guia">
        GUIA PARAR INICIANTES EM LEAGUE OF LEGENDS

    </h1>
    <h2 class = "Introdução">
        Neste site estaremos compartilhando as principais dicas para iniciantes
        no jogo league of legends, aprendendo do basico da movimentação até
        recursos mais avaçados como matchups e micro/macro game
    </h2>
    <h2 class = "Selecionar Card">
        Selecione um tópico que deseja começar a aprender:
    </h2>

    <div class="card" style="width: 18rem;">
<img src="{{ url_for('static', filename='img/FotoJinx.webp') }}"
     class="card-img-top"
     style="width:100%; height:200px; object-fit:cover; display:block;"
     alt="Jinx">

  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Campeões</p>
    <a href="campeões.html" class="btn btn-primary">Acessar</a>
  </div>
</div>
</body>
</html>