<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
</head>
<body>
    <div class="Photo">
                 <img src="{{ url_for('static', filename='img/Paginakayn.webp') }}"
         style="width:100%; height:500px; object-fit:cover; display:block; margin:0; padding:0; box-sizing:border-box;"
         alt="KaynFoto">
    </div>

    <div class="Introdução">
        <h2>
            Kayn, o ceifador das sombras, é um campeão versátil em League of Legends,
            capaz de se transformar em duas formas distintas: Rhaast, focado em dano
            corpo a corpo e sustain, ou a forma Sombria, que prioriza mobilidade e
            dano mágico. Sua habilidade de atravessar paredes com sua habilidade E
            (Passagem Sombria) o torna um excelente caçador e iniciador de lutas.
            Kayn é ideal para jogadores que gostam de um estilo de jogo agressivo
            e estratégico, adaptando-se às necessidades da equipe durante a partida.
        </h2>
    </div>
</body>
</html>